%ul.nav.nav-list.span2
  %li=link_to 'Roladex', roladex_path
  - if current_person.admin?
    %li=link_to 'Capacity', admin_capacity_path
  %li.nav-header.top Personal
  %li=link_to 'Profile', profile_path(current_person), method: 'get'
  %li=link_to 'Accounts', accounts_path
  %li=link_to 'Projects', projects_path
  %li=link_to 'Capacity', capacity_path

  %ul.nav_group#companies_nav
    -current_person.admin_companies.each_with_index do |c, i|
      -nav_name = c.name.downcase.gsub(/ /, '_')
      %li.nav-header
        =c.name
      %ul
        %li=link_to 'Accounts', company_accounts_path(c)
        %li=link_to 'Customers', company_customers_path(c)
        %li=link_to 'Projects', company_projects_path(c)
        %li=link_to 'Memberships',company_company_memberships_path(c)
        %li=link_to 'Invoices', company_invoices_path(c)

  -if current_person.user.role == 'admin'
    %li.nav-header Admin
    %li=link_to 'Skills', admin_skills_path
    %li=link_to 'Groups', admin_groups_path
    %li=link_to 'Companies', admin_companies_path
    %li=link_to 'Countries', admin_countries_path
    %li=link_to 'Cities', admin_cities_path
