%nav.navbar
  .navbar-inner
    .custom_container.span12
      %ul.nav 
        %li#header_logo
          = link_to image_tag('logo.png'), root_path
        %li.divider-vertical
        %li= link_to 'Dashboard', intranet_path
        %li= link_to 'Your Details', edit_profile_path
        %li= link_to 'Logout', destroy_user_session_path
        %li
          =form_tag '/search', method: :get do
            .control-group
              =text_field_tag :search, params[:search]
              =submit_tag 'go', {class: "btn"}
