//Allans Notes:
//If the email is too long it breaks.
.crumbs
  %a{ href: ''}
    %span= "<"
    Back to countries
%section.row.title_row.pad_in.clearfix
  %h1 New Zealand
  -#.col.third.no_right_pad.center_text

-#Unless no projects
%section.companies_list.four_across.pad_in.pad_y.row.sep.clearfix
  .quarter.col
    %h2 Companies in New Zealand
    %p
      Enspiral contracting was the first enspiral company founded in New Zealand.

  .pictoral_list.clearfix
    -# @projects.limit(3).each_with_index do |project, index|
    -#.pictoral_list_item.col{class: "#{index == 2 ? 'last' : ''}"}
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/company_logo.png'
      %h3 Enspiral Contracting
      %p.byline Founded in 2000 by Joshua_Vial
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/company_logo_1.png'
      %h3 Enspiral Legal
      %p.byline Rochelle decided it was time for a change in how law w...
    .pictoral_list_item.col.last
      .image
        =image_tag 'mockups/company_logo_2.png'
      %h3 Rabbit Tech
      %p.byline I know it's not rabbit tech but I think that it is halaaarious...
    .expandee
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/company_logo.png'
        %h3 Enspiral Contracting
        %p.byline Founded in 2000 by Joshua_Vial
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/company_logo_1.png'
        %h3 Enspiral Legal
        %p.byline Rochelle decided it was time for a change in how law w...
      .pictoral_list_item.col.last
        .image
          =image_tag 'mockups/company_logo_2.png'
        %h3 Rabbit Tech
        %p.byline I know it's not rabbit tech but I think that it is halaaarious...
    .expander
      %a more...
    =content_for :javascripts do
      :coffeescript
        dropdown = new Enspiral.Views.CleanDropDown(
          el: '.companies_list'

        )
%section.people_list.four_across.pad_in.pad_y.row.sep.clearfix
  .quarter.col
    %h2 People in New Zealand
    .expandee
      %nav.left_nav
        .search_box
          =label_tag :search, 'Search for someone:'
          =text_field_tag :search
        %h4 Show:
        %ul
          %li 
            =link_to "All", list_people_path(anchor: 'index')
          %li
            =link_to "Full Timers", list_people_path(anchor: 'full_time')
          %li
            =link_to "Part Timers", list_people_path(anchor: 'part_time')
        %h4 Based In:
        %ul
          %li
        %h4 Order By:
        %ul
          %li
            =link_to "Longest with enspiral", list_people_path(anchor: 'oldest')
          %li
            =link_to "Newest with enspiral", list_people_path(anchor: 'newest')


  .pictoral_list.clearfix
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/person_thumb.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/person_thumb_1.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col.last
      .image
        =image_tag 'mockups/person_thumb_2.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .expandee
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/person_thumb.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/person_thumb_1.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col.last
        .image
          =image_tag 'mockups/person_thumb_2.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
    .expander
      %a more...
    =content_for :javascripts do
      :coffeescript
        dropdown = new Enspiral.Views.CleanDropDown(
          el: '.people_list'
        )
%section.bottom_content.row.pad_in.pad_y.sep.clearfix
  .col.two_thirds.right_border
    %h4 Blogs
    .blog_posts
      .blog_post
        continue reading...
        %h4
          %a
            Reflection on my internship at Enspiral
        %p 
          As part of my studies in computer science, I had the chance to take part in three professional experiences in the past three years. Each experience really helped develop my skills further, as well as gaining self-confidence and finding my... 
          %a
            %em
              read more...
      .blog_post
        %h4 
          %a
            Balancing work and family
        %p 
          We have a mission at Enspiral, well we’ve got several but one which I am super excited about is helping find work for parents with young children, particularly stay at home mothers. 
          %a
            %em
              read more...
  .col.third.no_right_pad.center_text
    .tweets
      = javascript_include_tag "http://widgets.twimg.com/j/2/widget.js"
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 2,
          interval: 6000,
          width: 'auto',
          height: 125,
          theme: {
            shell: {
              background: '#ffffff',
              color: '#32bad9'
            },
            tweets: {
              background: '#ffffff',
              color: '#3f3f3f',
              links: '#32bad9'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('enspiral').start();

