<% if @invoice_allocations.size > 0 %>
  <table class='transactions'>
    <tr>
      <th>Customer</th>
      <th>Amount</th>
      <th>For Hours</th>
      <th>At Rate</th>
      <th>Invoiced</th>
      <th>Due</th>
    </tr>
    <%= render :partial => '/invoice_allocations/invoice_allocation', :collection => @invoice_allocations.reverse %>
  </table>
<% end %>
