<% if invoice_allocations.size > 0 %>
  <table class='transactions'>
    <tr>
      <th style="background:#eee; padding:0.5em 1em;">Customer</th>
      <th style="background:#eee; padding:0.5em 1em;">Amount</th>
      <th style="background:#eee; padding:0.5em 1em;">For Hours</th>
      <th style="background:#eee; padding:0.5em 1em;">At Rate</th>
      <th style="background:#eee; padding:0.5em 1em;">Invoiced</th>
      <th style="background:#eee; padding:0.5em 1em;">Due</th>
    </tr>
    <%= render :partial => '/invoice_allocations/invoice_allocation', :collection => invoice_allocations %>
  </table>
<% end %>
