%table
  %tr
    %th Service Category
    %th Description
    %th Rate
  - @services.each do |service|
    %tr
      %td= service.service_category.name
      %td= service.description
      %td= service.rate
