%footer#footer.clearfix
  #footer-left-col.clearfix
    %h2 contact enspiral
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    #contact-form
      %form
        %p.float-right
          %label{:for => 'enquiry-type'}
            enquiry-type
          %br
          %select#enquiry-type{:type => 'select', :name => 'enquiry-type'}
            %option{:value => 'test'}
              test
        %p
          %label{:for => 'name'}
            name
          %input#name{:type => 'text', :name => 'name'}
        %p
          %label{:for => 'email'}
            email
          %input#email{:type => 'text', :name => 'email'}
        %p
          %label{:for => 'location'}
            location
          %input#location{:type => 'location', :name => 'location'}
        %p
          %label{:for => 'enquiry'}
            enquiry
          %textarea#enquiry{:type => 'text', :name => 'enquiry'}
        %submit
          = image_tag '/contact-submit.gif'
  #footer-right-col.clearfix
    %p feel free to get in touch if you would like more information:
    %p.main-contact                                                              
      = mail_to 'contact@enspiral.com', 'contact@enspiral.com', :class => 'email'
      %br
      or +64 21 684 485
    .person-brief.clearfix
      = image_tag '/person-thumb.jpg'
      %p
        Name Last Name
        %span.position
          position
        %br
        = mail_to 'contact@enspiral.com', 'contact@enspiral.com', :class => 'email'
        %br
        021 123 466
  %p.copyright copyright enspiral 2010. all rights reserved
  
