%script{:src => "http://widgets.twimg.com/j/2/widget.js"}
:javascript
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 6000,
    width: 510,
    height: 300,
    theme: {
      shell: {
        background: '#ffffff',
        color: '#32bad9'
      },
      tweets: {
        background: '#ffffff',
        color: '#3f3f3f',
        links: '#32bad9'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      hashtags: true,
      timestamp: false,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('enspiral').start();
