%p= link_to 'About', '/marketing/about/', class: "#{"active" if current_page?( controller: 'marketing', action: 'about')}"
%p= link_to 'Contact Us', '/marketing/contact_us/', class: "#{"active" if current_page?( controller: 'marketing', action: 'contact_us')}"
