%p= link_to 'About', marketing_about_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'about')}"
%p= link_to 'Contact Us', marketing_contact_us_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'contact_us')}"
