#static_page
  .row
    #left_bar.span3
      %h1 About
      .sub_nav
        =render :partial => 'marketing/static_pages/sub_nav'
    .span9
      %h1 Welcome to Enspiral!

      %h4{style: "font-weight:bold;margin-bottom:10px;color:#777;"} 
        At our heart we’re an eco-system of #{Person.active.count} people and #{Company.visible.count} companies working for a brighter future.

      %p 
        Our companies are re-engineering parts of our society that we care a lot about. Things like 
        =link_to 'how we grow and get our food,', 'http://www.buckybox.com/', target: '_blank'
        =link_to 'lifelong learning in our communities', 'http://www.chalkle.com', target: '_blank'
        and 
        =link_to 'scalable democratic decision making.', 'http://loom.io', target: '_blank'
  
      %h4{style: "font-weight:bold;margin-bottom:10px;color:#777;"} 
        We love working together to solve problems.

      %p Our service network offers everything from web and software, through to animation, graphic design, legal, accounting, environmental planning, landscape architecture, urban design and engineering design and prototyping services.
      
      %p 
        If you have a project, 
        =link_to 'get in touch', '/marketing/contact_us'
        because we’ve got a network of passionate professionals waiting to help you.

      %p Thanks,

      %p The team at Enspiral. 
