#static_page
  .row
    #left_bar.span3
      %h1 About
      .sub_nav
        =render :partial => 'marketing/static_pages/sub_nav'
    .span9
      %h1 Welcome to Enspiral!

      %p If you’ve heard of us then you’ll know that at our heart we’re a network of purpose driven individuals and companies working together with strong aspirations for a brighter future.

      %p 
        Our companies are diving into projects like using software to help 
        =link_to 'kickstart local food movements,', 'http://www.buckybox.com/', target: '_blank'
        =link_to 'enabling community based lifelong learning ', 'http://www.chalkle.com', target: '_blank'
        and 
        =link_to 'helping organisations make better decisions together.', 'http://loom.io', target: '_blank'

      %p Our service network offers everything from software development and website design through to animation, graphic design, legal, accounting, environmental planning, landscape architecture, urban design and engineering design and prototyping services. 

      %p 
        If you have a project, 
        =link_to 'get in touch', '/marketing/contact_us'
        because we’ve got a network of passionate professionals waiting to help you.

      %p We’re also busy working on some exciting changes at the moment. Bear with us as we evolve and watch this space for developments coming soon!

      %p Thanks,

      %p The team at Enspiral. 
