#static_page
  .row
    #left_bar.span3
      %h1 Enspiral Space
      .sub_nav
        =render :partial => 'marketing/static_pages/sub_nav'
    .span9
      %h1 Our Wellington Space

      %div{style: 'float:right;margin-left:20px;'}
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=22+allen+st+wellington&amp;ie=UTF8&amp;hq=&amp;hnear=22+Allen+St,+Te+Aro,+Wellington+6011,+New+Zealand&amp;t=m&amp;z=14&amp;ll=-41.293123,174.782169&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=22+allen+st+wellington&amp;ie=UTF8&amp;hq=&amp;hnear=22+Allen+St,+Te+Aro,+Wellington+6011,+New+Zealand&amp;t=m&amp;z=14&amp;ll=-41.293123,174.782169&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

      .night_owls{style: 'float:right;margin-left:20px;width:425px;clear:right;margin-top:20px;'}

        %p{style: 'font-size:1.5em; line-height:1.5em;margin-bottom:30px;'}
          Level 2, 18-24 Allen St, Wellington 6011
          %br
          04 9748207 / 021 034 9629
          %br
          =mail_to 'space@enspiral.com'

        %h2 Enspiral Night Owls
        %h4{style: "font-weight:bold;margin-bottom:10px;color:#777;"}      
          While the world sleeps, we build!

        %p 
          For people working on their projects outside of office hours we also make the space available between 6pm - 1am on Wednesday nights
          %br
          $20 waged
          %br
          $10 unwaged

        %p
          = link_to 'Checkout our meetup group for more information', 'http://www.meetup.com/Enspiral-Night-Owls'


      %h4{style: "font-weight:bold;margin-bottom:10px;color:#777;"} 
        Coworking for social entrepreneurs, charities, and startups in central Wellington.

      %p 
        Our inspiring & professional coworking environment is for social entrepreneurs, charities & startup businesses with an ethical focus. Benefit from collective events, meet brilliant changemakers & collaborate! 

      %p
        We are located just a few minutes from the Waterfront, Courtenay Place & The Embassy Cinema. Feel free to get in touch, & come by for a visit.

      %h3 Prices
      %p
        All desk renters gain access to all meeting rooms, printing, wifi & kitchen. 

      = image_tag 'spaceprices.png'

      .image{style: 'margin-top:20px;margin-bottom:20px;'}
        =image_tag 'enspiralspace.jpg'

