#static_page
  .row
    #left_bar.span3
      %h1 About
      .sub_nav
        =render :partial => 'marketing/static_pages/sub_nav'
    .span9
      %h1 Our Collective Vision 

      %h4{style: "font-weight:bold;margin-bottom:10px;color:#777;"} 
        Social entrepreneurs cultivating a thriving future
      
      /At our heart we’re an eco-system of #{Person.active.count} people and #{Company.visible.count} companies working for a brighter future.

      %h2 WHO WE ARE
      
      %p
        %strong.bold_ink Enspiral is a network of professionals working together to create a thriving future.  
        We come from diverse disciplines and across sectors to work on projects we care about.  We collaborate on innovative products, services, experiences and businesses that raise up our communities, while creating value for clients, investors and ourselves.

      %p
        %strong.bold_ink Enspiral has three parts:

      %h3 Enspiral Services
      %p 
        Talented professionals working together as 
        %strong.bold_ink teams 
        to offer a comprehensive spectrum of services, from web design to accounting for clients across sectors.

      %h3 Enspiral Ventures
      %p 
        Pioneering social entrepreneurs forming 
        %strong.bold_ink start-ups 
        to launch innovative products and services that create value for society as a part of their core operations.

      %h3 Enspiral Foundation
      %p 
        All of us are contributing to a new kind of business 
        %strong.bold_ink network 
        that increases capacity for social entrepreneurship around the world.
      
      %h2 WHERE WE ARE STARTING FROM - OUR CORE VALUES

      %h3 Service with Intention
      %p The drive to have a positive impact on a critically stressed world guides our work at Enspiral.  We use our time to discover the most direct paths to a future of thriving local and global societies, and then direct our energy into clearing the way so that others can follow.

      %h3 Developing Excellence
      %p Outstanding talent is a prerequisite. From there, we continuously improve what we deliver, and how we work with our clients and each other. We hold ourselves to world-leading standards.   

      %h3 An Empowering Culture
      %p We value each other and the strength, resilience, and fulfillment that come from a richly diverse and equitable workplace. Each of us has the freedom to work as we choose.  This is the fertile ground for people to lead happy professional lives.

      %h3 Entrepreneurship
      %p Our way of working gives rise to a new era of entrepreneurship that puts productive capital behind the innovation and lasting changes we need to make. Everyone at Enspiral has the opportunity and the support to pursue the social business ideas and innovations they’re most passionate about.

      %h2 WHERE WE ARE GOING - OUR INTENDED IMPACTS

      %h3 Systemic Solutions to Critical Social and Environmental Problems
      %p We’ve reached a point where the social and biological fabric that supports our communities and all of humanity are under acute stress or in outright crisis. Critically, these systems are intertwined in fundamental ways, meaning we cannot afford to work in isolated silos. We aim to have impact on entire systems, developing better ways of providing for all our basic needs and beyond.

      %h3 Increased Resources Devoted to Building Social and Environmental Value
      %p The challenges we and our communities face need millions more problem solvers. Enspiral is helping talented people who are driven to do good for the world use their professional lives and business ideas to tackle social challenges, instead of contributing to them.

      %h3 Work Rehumanised
      %p We recognise that in order to reach our creative and productive potential, we must ensure the “who” of each member of our organisation isn’t lost in the “what” and “how” of getting the job done. By building a work environment that values people for who they are, rather than just what they produce, we are significantly increasing their capacity to do good work.  

      %h3 A Network-Native Model for Business
      %p Applying the new architectures developed in IT to building network-native ways of organising business unlocks enormous capacity for innovation. Enspiral is pioneering an open model for how to organise knowledge workers into a network that is leaner, fairer, and more productive and resilient than traditional businesses.  By building a diverse network of first-rate professionals we can create teams and solve client problems with incredible speed and agility.

      %h2 HOW WE ARE GETTING THERE - OUR KEY STRATEGIES

      %h3 Weave A Network Of Opportunity
      %p The core of the Enspiral strategy is connecting a diverse collection of talented professionals who share a common set of values, so we can work on things we really care about. Together we are building a new kind of business network.  From our varied interactions, transformative opportunities emerge for ourselves, our clients, our customers, and our communities - opportunities to build things with inspiring individuals and create real improvements in people’s lives.

      %h3 Build Diverse Professional Teams
      %p The needs of our clients often don’t fall into tidy boxes.  Our network of professionals is intentionally diverse, because including a spectrum of abilities and perspectives is the only way to continuously solve the toughest problems.  Our networked approach allows leading practitioners across disciplines to form teams with the specific skills that will solve our clients’ real needs.  

      %h3 Launch And Scale Social Ventures
      %p We give our members access to potential collaborators, service providers, mentors, and funders. We are a platform for a rich collection of shared information and knowledge about social entrepreneurship, creating a place optimised to germinate social ventures. Lack of a supportive community is one of the most serious problems social entrepreneurs face - Enspiral is a solution.
       
      %h3 Design Networked Business Models
      %p Inspired by the open Web and cultures of sharing, we are designing networked business models optimised for innovation and social impact. We develop new ways of communicating internally, making inclusive decisions, and distributing financial control throughout our organisations.  These processes truly harness the abilities, inventions and connections of our members to drive social entrepreneurship.
       
      %h3 Create Better Ways To Be Productive
      %p We invent new ways of organising how work gets done. We are authentic and engaged in how we collaborate with clients and colleagues. We give people complete transparent information, collective decision-making responsibility, an environment that supports learning, and the autonomy to create their dream job. We’re figuring out how entrepreneurism and humanism can integrate into an organisation’s DNA, collectively, individually and as teams and companies.

      %h3 Build Bridges To Meaningful Work
      %p Enspiral provides opportunities for passionate people to spend their working life doing the things that are most meaningful to them and useful for society. Productive capital, human and financial, is the nutrient that feeds the innovation and lasting changes we want to make. Building long-term financial strength is an essential part of engaging people in doing good through their work.
      
