%h1 Listing admin_services

%table
  %tr
    %th
    %th
    %th

  - @admin_services.each do |admin_service|
    %tr
      %td= link_to 'Show', admin_service
      %td= link_to 'Edit', edit_admin_service_path(admin_service)
      %td= link_to 'Destroy', admin_service, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_admin_service_path
