%h1 Listing services

%table
  %tr
    %th
    %th
    %th

  - @services.each do |service|
    %tr
      %td= link_to 'Show', service
      %td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_admin_service_path
