#top_nav.horizontal_nav.clearfix
  %ul
    -if controller.controller_name == 'mockups'
      %li
        =link_to 'Person', '/mockups/person/'
      %li
        =link_to 'Company', '/mockups/company/'
      %li
        =link_to 'Country', '/mockups/country/'
      %li
        =link_to 'Project', '/mockups/project/'
    -else
      = render :partial => "/layouts/pub_partials/user_links"

