.row.bottom_margin
  %h1.span5 Skills
  .model_actions.span5
    =link_to "New", new_admin_skill_path, {class: "btn"}

%table.table.table-striped.two_actions
  %tbody
    - @skills.each do |s|
      %tr
        %td.actions
          =link_to [:edit, :admin, s] do
            %i.icon-pencil
          =link_to [:admin, s], method: 'delete', confirm: "Delete #{s.name} you sure?", class: 'red_ink' do
            %i.icon-remove
          %td=link_to s.name, [:admin, s]
