/* line 1, /Users/alex/dev/enspiral/app/assets/stylesheets/intranet/form.css.scss */
.divider {
  width: 100%;
  border-bottom: thin solid black;
  margin-bottom: 10px;
}

/* line 7, /Users/alex/dev/enspiral/app/assets/stylesheets/intranet/form.css.scss */
.form-heading {
  display: inline;
}
