public/assets
.bundle
db/*.sqlite3
.DS_Store
log/*.log
tmp/**/*
tmp/restart.txt
tmp/views
tmp/uploads
public/cache
public/system
public/uploads
.vim
*swp
nbproject/
config/database.yml.sqlite.bkp
config/database.yml
in.vim
rerun.txt
coverage
.project
.rvmrc*
.autotest
.redcar/
vendor/bundle/*
robsnotes.txt
db/sphinx
db/sphinx/*
searchd.development.pid
searchd.test.pid
db/legacy/*.sql
db/legacy/*.sql.gz
factory_girl*
simplecov*
tgrm/output
