%li
  %p
    = comment.text
    \-
    \#{comment.person.name}
  - unless comment.comments.blank?
    %ul
      = render :partial => 'comment', :collection => comment.comments
= link_to 'Comment on this comment', new_comment_comment_path(comment)
%br/
%br/
