.row.grid_helper
  .span1
  .span1
  .span1
  .span1
  .span1
  .span1
  .span1
  .span1
  .span1
.row
  .span9
    %h1=@project.name
    %h2=@project.tagline
#gallery.row
  #main_image.span7
    = image_tag @project.projects_images.first.image.thumb('670x440').url
  #thumbs.span2
    - @project.projects_images.each_with_index do |image, index|
      .gallery_thumb{data: {full: image.image.thumb('670x440').url}}
        = image_tag image.image.url
}


