.close
  × 
.row
  .span9
    %h1=@project.name
    %h2=@project.tagline
-unless @project.projects_images.blank?
  %section#gallery.row
    #main_image.span7
      = image_tag @project.projects_images.first.image.thumb('670x440').url
    #thumbs.span2
      - @project.projects_images.each_with_index do |image, index|
        - unless index > 2 
          .gallery_thumb{data: {full: image.image.thumb('670x440').url}}
            = image_tag image.image.url

%section.row
  #project_links.span9.cf
    - unless @project.client.blank?
      .link_with_category
        %span.grey_ink Client:
        =link_to @project.client
    - unless @project.url.blank?
      .link_with_category
        %span.grey_ink Url:
        =link_to @project.url
  
%section#info.row
  .tabbable
    .span2
      %ul.unstyled.nav
        %li.active=link_to "About the Project", "#about", data: {toggle: "tab"}
        %li=link_to "Contributors", "#contributors", data: {toggle: "tab"}
    .span6
      .tab-content
        .tab-pane.active#about
          %h2 About the project
          .formatted_text
            = raw BlueCloth.new(@project.about).to_html
        .tab-pane#contributors
          %h2 Contributors
          -@project.people.group_by(&:companies).each do |company, people|
            %h4=link_to company[0].name, marketing_company_path(company[0])
            -people.each do |person|
              =link_to person.name, marketing_person_path(person)
