=f.error_messages
=f.input :date, as: :string, input_html: {class: 'datepicker'}
=f.input :source_account_id, collection: @source_accounts
=f.input :destination_account_id, collection: @company.accounts.not_closed
=f.input :amount
=f.input :description
/=f.input :reconciled
=f.submit
