%h1
  All transactions for
  = @company.name

%p ... all of them.

=form_tag({action: :index}, method: :get, class: 'form-horizontal') do
  %fieldset
    %legend
      %i.icon-filter
      Filter between dates

    .control-group
      From
      %input{type: 'textfield', name: "start_date", class: 'datepicker', style: 'width: 80px;', value: @start_date}
      To:
      %input{type: 'textfield', name: "end_date", class: 'datepicker', style: 'width: 80px;', value: @end_date}
      %input{type: 'submit', value: 'Filter'}
      .help-block
        Defaults to transactions done this week.

%table.table.table-striped
  %thead
    %tr
      - if current_person.admin? || company_admin?(current_person, @company)
        %th Id
      %th Date
      - if current_person.admin? || company_admin?(current_person, @company)
        %th Author
      %th $
      %th Description
      %th From Account
      %th To Account
      %th
  %tbody
    - @funds_transfers.each do |transfer|
      %tr
        = render partial: 'single_transfer', locals: {transfer: transfer, account: transfer.source_account}

= paginate @funds_transfers
