- title("Take what you need, use the rest to make the world a better place.")

-unless @current_user_goals.nil?
  #Goals
    %h3 Current Goals
    %p=link_to "New", goals_path
    %table
      -@current_user_goals.each do |goal|
        =render :partial => "/goals/goal", :locals => { :goal => goal }

= render :partial => 'shared/account', :object => current_person.account
