<h1>Staff Dashboard</h1>

<p>
You have <%= number_to_currency current_person.account.balance %> available in your account
</p>

<p>
You have <%= number_to_currency current_person.pending_total %> awaiting payment 
</p>


