<div class='right_box'>
  <p style='font-size:1.0em;'>
    Take what you need, use the rest to make the world a better place.
  </p>
  <p>
  To get paid or spend money email dale at <a href='mailto:accounts@enspiral.com'>accounts@enspiral.com</a>
  </p>
  <p>
  More features coming soon.
  </p>
</div>

<h1>Staff Dashboard</h1>

<p>
You have <%= number_to_currency current_person.account.balance %> available in your account
</p>

<p>
You have <%= number_to_currency current_person.pending_total %> awaiting payment 
</p>

<h2>Recent Transactions</h2>
<%= render :partial => '/transactions/transactions', :locals => {:transactions => current_person.account.transactions} %>




