= form_tag staff_capacity_update_path, :method => :put do
  %table
    %thead
      %td 
        %strong Capacity
      %td This Week
      %td Next Week
      %td #{(Date.today + 2.weeks).strftime('%b %-d')}
      %td #{(Date.today + 3.weeks).strftime('%b %-d')}
      %td #{(Date.today + 4.weeks).strftime('%b %-d')}
