- if @person != current_person
  - title("Editing #{@person.name}'s Availability")
- else
  - title('Editing Your Availability')

= render :partial => 'project_bookings', :object => @project_bookings

= link_to 'Back', :back
