- title("Your Enspiral work capacity.")

%table
  %tbody
    %thead
      %td 
        %strong Capacity
      %td.centered This Week
      %td.centered Next Week
      %td.centered #{(Date.today + 2.weeks).strftime('%b %-d')}
      %td.centered #{(Date.today + 3.weeks).strftime('%b %-d')}
      %td.centered #{(Date.today + 4.weeks).strftime('%b %-d')}


