%section.list_with_sidebar.four_across.clearfix
  .quarter.pad_right.col
    %h1 Our People
    %nav.left_nav
      .search_box
        =label_tag :search, 'Search for someone:'
        =text_field_tag :search
      %h4 Show:
      %ul
        %li 
          =link_to "All", list_people_path(anchor: 'index')
        %li
          =link_to "Full Timers", list_people_path(anchor: 'full_time')
        %li
          =link_to "Part Timers", list_people_path(anchor: 'part_time')
      %h4 Based In:
      %ul
        %li
      %h4 Order By:
      %ul
        %li
          =link_to "Longest with enspiral", list_people_path(anchor: 'oldest')
        %li
          =link_to "Newest with enspiral", list_people_path(anchor: 'newest')


  #people.clearfix
    -#- @people.each_with_index do |p, index|
      -#.pictoral_list_item.col{class: "#{index +1 % 3 == 0 ? 'last' : ''}"}
        -#.image
          -#=image_tag 'joshuathumb.jpg'
        -#%h3=p.name

=content_for :javascripts do
  :coffeescript
    $(()->
      window.Enspiral.controller = new Enspiral.Routers.PeopleRouter(people: #{@people.to_json})                                                                                                                  
      @left_nav = new Enspiral.Views.LeftNavView(people: #{@people.to_json})
      Backbone.history.start() 
    )
    
