=simple_form_for [@company, @funds_transfer_template] do |f|
  =f.error_messages
  =f.input :name
  =f.input :description
  %h3 Transactions
  #funds_transfer_template_lines
    =f.simple_fields_for :lines do |lf|
      = render 'funds_transfer_templates/line_fields', f: lf
    .links
      = link_to_add_association 'Add Line', f, :lines, class: 'btn'

  .form-actions
    =f.submit class: 'btn btn-primary'
