.row
  -unless @people.blank?
    .span2
      %h2 People
      %table.table.table-striped.table-condensed
        %tbody
          -@people.each do |p|
            -if p.active?
              %tr
                %td
                  =link_to p.name, profile_path(p)

  -unless @invoices.blank?
    .span4
      %h2 Invoices
      %table.table.table-striped.table-condensed
        %tbody
          -@invoices.each do |i|
            %tr
              %td
                =link_to i.xero_reference ? i.xero_reference : i.id, enspiral_company_net_company_invoice_path(i.customer.company, i)
              %td=link_to i.customer.name, i.customer

  -unless @projects.blank?
    .span4
      %h2 Projects
      %table.table.table-striped.table-condensed
        %tbody
          -@projects.each do |p|
            %tr
              %td=p.name
              %td
                =link_to p.name, enspiral_company_net_company_enspiral_company_net_project_path(p.company, p)

