.nested-fields.control-group
  =f.collection_select :account_id, @invoiceable.accounts.not_closed, :id, :name, {:include_blank => 'Account..'}, {class: 'czn-select'}
  =f.collection_select :account_id, @invoiceable.accounts.not_closed, :id, :name, {:include_blank => 'Account..'}, {class: 'czn-select'}
  =f.text_field :amount, :placeholder => 'Amount', class: 'input-small'
  =f.text_field :contribution, :class => 'uses_default_commission', :placeholder => 'Commission..', class: 'input-mini', :value => (number_with_precision(f.object.contribution, :precision => 3) || 0)
  =link_to_remove_association "<i class='icon-remove'></i>".html_safe, f

