%span
  %strong Amount:
  #{number_to_currency(@invoice.amount)}
%span
  %strong Allocated:
  =number_to_currency @invoice.amount_allocated
  -unless @invoice.allocated_in_full?
    (#{number_to_currency(@invoice.amount_unallocated)} Unallocated)
%span
  %strong Created:
  =l @invoice.date
%span
  %strong Due:
  =l @invoice.due
