- title("Edit invoice")

%h1.bottom_margin
  - if @invoice.xero_link != "#"
    = link_to image_tag('xero.jpg'), @invoice.xero_link, :target => "_blank"
  Edit Invoice
- if @invoice.xero_link != "#"
  .xero-link
    = link_to @invoice.xero_link, :target => "_blank" do
      View in Xero
      %i{class: "icon-share"}
.stats=render 'status_line'
.h-rule
=render 'form'
