%h1 Project Invoices Report

%table.table.table-striped
  %thead
    %th Project Name
    %th Quoted
    %th Invoiced
    %th Paid
    %th Unpaid
    %th Uninvoiced
  %tbody
    %tr
      %td
        %strong Total Across All Projects
      %td=number_to_currency @total_quoted
      %td=number_to_currency @total_invoiced
      %td=number_to_currency @total_paid
      %td=number_to_currency @total_invoiced - @total_paid
      %td=number_to_currency (@total_quoted - @total_invoiced)
    -@projects.each do |p|
      %tr
        %td=p.name
        %td=number_to_currency quoted = (p.amount_quoted ? p.amount_quoted : 0)
        %td=number_to_currency invoiced = p.invoices.sum(:amount)
        %td=number_to_currency paid = p.invoices.paid.sum(:amount)
        %td=number_to_currency unpaid = invoiced - paid
        %td=number_to_currency uninvoiced = (quoted - p.invoices.sum(:amount))

