%h1 Project Invoices Report

%table.table.table-striped.tablesorter
  %thead
    %th Project Name
    %th Quoted
    %th Invoiced
    %th Uninvoiced
  %tbody
    %tr
      %td
        %strong Total Across All Projects
      %td=number_to_currency @total_quoted, delimiter: ''
      %td=number_to_currency @total_invoiced, delimiter: ''
      %td=number_to_currency (@total_quoted - @total_invoiced), delimiter: ''
    -@projects.each do |p|
      %tr
        %td=link_to p.name, [@company, p]
        %td=number_to_currency quoted = (p.amount_quoted ? p.amount_quoted : 0), delimiter: ''
        %td=number_to_currency invoiced = p.invoices.sum(:amount), delimiter: ''
        %td=number_to_currency uninvoiced = (quoted - p.invoices.sum(:amount)), delimiter: ''

=content_for :javascripts do
  :coffeescript
    $('.tablesorter').tablesorter()
