- title("View Invoice")
.row
  %h1.span5.bottom_margin Invoice to #{@invoice.customer.name}
  .model_actions
    =link_to 'Edit', edit_company_invoice_path(@company, @invoice), :class =>'btn'

    -if @invoice.allocated_in_full?
      -if not @invoice.paid_in_full?
        =link_to_pay_and_disburse_company_invoice('Pay and Disburse', [@company, @invoice], class: :btn)
      -else
        =link_to_disburse_company_invoice('Disburse', [@company, @invoice])

    -if @invoice.can_be_deleted?
      =link_to 'Destroy', [@company, @invoice], :confirm => "Are you sure?", :method => :delete, class: 'btn'

.stats.bottom_margin
  =render 'status_line'

%h3 Pending Allocations
%table.table
  %thead
    %tr
      %th Account
      %th Gross Amount
      %th Comission
      %th Disburse
  %tbody
    -@invoice.pending_allocations.each do |a|
      %tr
        %td=a.account.name
        %td=number_to_currency(a.amount)
        %td=a.commission
        -if @invoice.amount_disbursable > a.amount
          %td=link_to('Disbuse', disburse_company_invoice_path(@company, @invoice, :invoice_allocation_id => a), :method => :post)
        -else
          %td

%h3 Disbursed Allocations
%table.table
  %thead
    %tr
      %th Account
      %th Gross Amount
      %th Comission
  %tbody
    -@invoice.allocations.disbursed.each do |a|
      %tr
        %td=a.account.name
        %td=number_to_currency(a.amount)
        %td=a.commission

%h3 Payments
%table.table.table-striped
  %thead
    %th Amount
    %th Paid on
  %tbody
    -@invoice.payments.order(:paid_on).each do |p|
      %tr
        %td=p.amount
        %td=p.paid_on
