- title("Your Enspiral work capacity.")

%table
  %tbody
    %thead
      %td &nbsp;
      %td This Week
      %td Next Week
      %td Week 2
      %td Week 3
      %td Week 4
    %tr
      %td Available
    -@availabilities.each do |availability|
      %tr #{availability}
    %tr
      %td Booked
      %td
      %td
      %td
      %td
      %td
    %tr
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
    %tr
      %td Project



