%h1 Project bookings reminder
%p update these if you want to live. - arnold schwarzenegger (enspiral member since 1977)

=link_to 'Update your project bookings', your_capacity_index_url

%table
  %thead
    %tr
      %th
        %strong Projects
      - week_dates(@start_on, @finish_on).each do |date|
        %th
          %strong= date.to_s

  %tbody
    - @person.project_memberships.each do |membership|
      -project = membership.project
      -bookings = membership.project_bookings
      %tr
        %td= link_to project.name, project
        - bookings.total_hours_per_week(@start_on, @finish_on).each do |week, hours|
          %td.centered= hours
