%h3
	Welcome #{@person.email} !
%p
	Please find enclosed your my.enspiral account details. Ensure that you change your password to something unique and secure when you first login
%p
	Email : #{@person.email}
%p
	Password : #{@password}