%h1 Account Permissions for #{@account.name}
%p Public? #{@account.public.inspect}

%h2 Add Person to Account Owners
=simple_form_for([@company, @account, @accounts_person]) do |f|
  =f.input :person_id, :as => :select, :collection => Person.active.all
  =f.submit

%h2 Account Owners
%table
  %thead
    %th Name
    %th Remove
  %tbody
    -@account.accounts_people.each do |perm|
      %tr
        %td=perm.person.name
        %td=link_to('Remove', [@account, perm], :method => :delete)

