=f.input :name
=f.input :visible
=f.input :show_projects
=f.input :default_contribution
=f.input :xero_consumer_key
=f.input :xero_consumer_secret

%hr

=f.input :time_zone
%h5
  Please change only with the support of a developer - a company's funds transfer dates are assumed to be in this time zone.
  Changing it without updating the records may have implications for record keeping. Think of your accountant!

%hr