%h1 Edit Company
=simple_form_for([:admin, @company]) do |f|
  = render partial: 'form' , locals: {f: f}
  =f.input :income_account_id, as: :select, collection: @company.accounts.expense
  =f.input :support_account_id, as: :select, collection: @company.accounts.not_expense
  =f.submit
