%h1 Customers
%table
  %tr
    %th
    %th
    %th
  - @customers.each do |customer|
    %tr
      %td= link_to customer.name, admin_customer_path(customer)
      %td= link_to 'Edit', edit_admin_customer_path(customer)
      %td= link_to 'Destroy', admin_customer_path(customer), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Customer', new_admin_customer_path
