.dashboard h2 {color:#fff; text-shadow: 1px 1px 1px black; font-size:15px; font-weight:bold; -moz-border-radius:0; -webkit-border-radius:0;}
.dashboard h1 {margin-bottom:10px; font-size:23px;}
.dashboard h1 span{font-size:17px;}
.dashboard #page{padding-top:0;}

#user_links{font-weight:bold; font-size:15px; float:right; color: #fff; margin-top:5px; margin-right:5px; } 
#user_links ul{margin-left:26px; list-style:none;}
    #user_links ul li{float:left; margin-left:10px;}
    #user_links ul li.username{padding-top:2px; color:#32BAD9;}
      #user_links ul li a {float:left; display:block; color: #fff; border:solid 1px #666;}
      #user_links ul li a:hover {color:#888; background-color:#ececec;}

.dashboard .left-col{width:700px; border-right:solid 1px #cfcfcf; padding:15px 30px; float:left;}

.dashboard .right-col{width:191px; float:left; padding:15px 10px;}
  .dashboard .right-col h2{padding:5px; background:#08405f; box-shadow:inset -5px -5px 10px #000000; -moz-box-shadow:inset -5px -5px 20px #000000;}
  .dashboard .right-col ul {list-style:none; margin-left:5px;}
  .dashboard .right-col li {background:#ececec url(img/alert-overlay.png) repeat-x; padding:8px; border-bottom:solid 1px #d2d2d2; font-size:13px;
    border-top:#e3e3e3; background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#e6e6e6));
    background-image:-moz-linear-gradient(100% 100% 90deg, #ececec, #e6e6e6));}
  .dashboard .right-col li.title {color:#fff; text-shadow: 1px 1px 1px black; font-size:15px; font-weight:bold; background:#08405F; -moz-border-radius-topright: 5px; -moz-border-radius-topleft: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px;}
  .dashboard .right-col li.last {-moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
  .dashboard .right-col li a:hover {color:#08405F;}

  /*forms*/
form table{width:675px;}
form table td{vertical-align:middle; text-align:right;}
form table tr{vertical-align:middle;}
form input[type="text"], form input[type="password"]
{border:solid 2px #ececec; height:30px; text-align:left; font-size:17px; margin-bottom:5px;}
form select{border:solid 2px #ececec; height:30px; text-align:left; font-size:17px; margin-bottom:5px;}
form label{font-weight:bold; font-size:20px; margin-right:5px; margin-bottom:5px; display:inline-block;}
form p{width:420px; text-align:right; margin: 0 auto;}
form submit{font-weight:bold;}
form submit:hover{color:#888; background-color:#ececec;}
.actions {text-align:right; width:675px;}

div.notice_text {
  display: none;
}

th, td {
  padding: 2px 4px;
}

th.header {
  background-image: url(/images/tablesorter/bg.gif);
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 20px;
  border-left: 1px
  margin-right: -1px;
}

th.headerSortUp {
  background-image: url(/images/tablesorter/asc.gif);
  background-color: #ececec
}

th.headerSortDown {
  background-image: url(/images/tablesorter/desc.gif);
  background-color: #ececec
}
