@charset "UTF-8";
/* CSS Document */

body { 
  margin:0;  
  padding:0; 
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(0,123,184);
}

/* text styling*/	
a { text-decoration:none; color:#003366; }

  .content a
  {
    font-weight:bold;
  }

a img{
	border:none; 
	}
	
a:hover{
	text-decoration:underline;
	color:#3399cc;
	}


p{
}

h1, h2, h3{
	margin:10px 0; 
	padding:0; 
	font-weight:normal;
	color:#003366;
	}
	
label {
  display:block;
}

table {
  margin:1em 0;
}

td {
  padding:0.5em 1em;
}


/* framework */

.clear{
	clear:both;
}

#master {
  padding: 2em 2em;
  background-color:rgb(0,123,184);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,123,184)),
    color-stop(0.6, rgb(0,102,153)),
    color-stop(1, rgb(0,71,107))
  );
  background: -moz-linear-gradient(
    center bottom,
    rgb(0,123,184) 0%,
    rgb(0,102,153) 60%,
    rgb(0,71,107) 100%
  );
}

.container{
	margin: 0em auto;
	background-color: #fff;
	width: 50em;
  padding: 1em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
}	
	
.header{
	height:5em;
}
	
.header #logo{
	position:absolute;
	margin-left:30px;
	margin-top:20px;
}
	
.menu{ 
	width:300px; 
	height:14px;
	margin:0px;
	padding-left:480px;
	padding-top:45px;
	}
	
	.menu ul{
		list-style-type:none; 
		padding:0;
		margin:0px;
		}
		
	.menu li{
		float:left; 
		position:relative;  
		padding:0 10px 0 10px;
		}
		
	.menu a{text-decoration:none; 
		}
	.menu a:hover{text-decoration:underline; 
			color:#3399cc;
		}


.bannerpics{
	background-image:url(/images/banner-bg.jpg);
	width:807px;
	height:150px;
	}
	
	.bannerpics ul{
		list-style:none;
		padding:0;
		margin:0px;
		margin:0px;
		padding-left:0px;
		padding-top:15px;
		}
	
	.bannerpics li{
		float:left; 
		position:relative;  
		padding:0 1px 0 1px;
		text-align:center;
		}
		
	.menu2{ 
	width:630px; 
	height:14px;
	margin:0px;
	padding-left:25px;
	padding-top:5px;
	}
	
	.menu2 ul{
		list-style-type:none; 
		padding:0;
		margin:0px;
		}
		
	.menu2 li{
		float:left; 
		position:relative;  
		margin:0 25px 0 25px;
		}
		
	.menu2 a{text-decoration:none; 
		}
	.menu2 a:hover{text-decoration:underline; 
			color:#3399cc;
		}

.line{
	color:#3399cc;
	border:1px solid;
	
	}
	
.content{
  min-height:35em;
  font-size:small;
	margin:15px;
	color:#003366;
}

.copyright {
  font-size:0.8em;
  padding:0.5em;
  text-align:center;
}

	.content #homeleft{
		width:400px;
		float:left;
	}
  .content #homeleft p {
    margin-top:0px;
  }
	.content #twtr-widget-1{
		float:right;
		}
	
.content1{
	margin:15px;
	width:750px;
	Float:left;
	}

.service{
	margin:15px;
	width:750px;
	Float:left;
	}

	
.profile{
	margin:15px;
	width:350px;
	float:left;
	}
	
.profile h1{
	margin:15px;
	}
	
	h1{
	font-size:14pt;
	font-weight:bold;
	margin:0;
	padding:0;
	}
  a:hover{
    text-decoration:underline;
			color:#3399cc;
  }
  h2{
	font-size:12pt;
	font-weight:bold;
	margin:0;
	padding:0;
	}
	
	p{
	}
	
	img{
	padding-right:10px;
	}
	

	
.clear {
  clear:both;
}

.right {
  float:right;
}

.left {
  float:left;
}

.gray {
  background:#eee;
}

.section {
  padding:1em;
  margin:1em 0;
  border:1px solid #ccc;
}

#authentication {
  padding-top:2.5em;
  text-align:right;
  font-size:x-small;
}

.box {
  margin-top:30px;
  border:1px solid #ccc; 
  background-color:#eee;
  padding:20px;
}

.special {
  float:right;
  border:1px solid #ccc;
  background-color:#eee;
  width:230px;
  margin-bottom:20px;
  padding:10px;

}

span.notice_text {
  display: none;
}
