.badge
  .image
    = image_tag badge_ownership.badge.image.url(:thumb)
  .text
    .name
      %span= badge_ownership.badge.name
      was awarded to 
      %span= badge_ownership.user.person.name

    .reason= badge_ownership.reason

    -if badge_ownership.person == current_user.person || current_user.admin?
      .modifications
        =link_to 'delete', badge_ownership_path(badge_ownership), :method => :delete, :confirm => "Are you sure?"
        =link_to 'edit', edit_badge_ownership_path(badge_ownership)

