- unless transactions.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Description
        %th Amount
        %th Running Total

    - transactions.each do |transaction, sub_total|
      - is_in_the_red = sub_total < 0 ? "red_ink" : ""
      - is_taken_off = transaction.amount < 0 ? "red_ink" : ""
      %tr{:class => is_in_the_red}
        %td= transaction.date
        %td= transaction.description.titleize
        %td{:class => is_taken_off}= number_to_currency transaction.amount
        %td= number_to_currency sub_total

