- unless transactions.empty?
  %table
    %tr
      %th Date
      %th Description
      %th Amount
      %th Running Total

    - transactions.each do |transaction, sub_total|
      - is_in_the_red = sub_total < 0 ? "red-ink" : ""
      - is_taken_off = transaction.amount < 0 ? "red-ink" : ""
      %tr{:class => is_in_the_red}
        %td.date= transaction.date
        %td= transaction.description.titleize
        %td.number{:class => is_taken_off}= number_to_currency transaction.amount
        %td.number= number_to_currency sub_total

