-type = params[:type]
%h1 New Featured #{type.capitalize}
=simple_form_for @featured_item do |f|
  - case type
  - when 'person'
    =f.hidden_field :resource_type, value: 'Person'
    =f.association :resource, collection: Person.published, input_html: {class: 'czn-select'}
  - when 'company'
    =f.hidden_field :resource_type, value: 'Company'
    =f.association :resource, collection: Company.all, input_html: {class: 'czn-select'}
  - when 'project'
    =f.hidden_field :resource_type, value: 'Project'
    =f.association :resource, collection: Project.published, input_html: {class: 'czn-select'}
  =f.submit 'save', class: 'btn'
