=content_for :full_width_page do
  .container
    %section.row
      .rslides_container.span12
        %ul#slideshow
          %li
            =link_to '#' do
              =image_tag 'mockups/project_lge.png'
          %li
            =link_to '#' do
              =image_tag 'mockups/person_thumb.jpeg'
        =content_for :javascripts do
          :coffeescript
            $('#slideshow').responsiveSlides(
              nav: true 
            )

    %section.row
      .span3
        %h2
          Blurb Heading
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
      .span3
        %h2
          Blurb Heading 2
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
      .span6
        %h2 Blurb Heading 2
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
          Blurb Heading Three
      .divider.span12.bottom_border
  #featured_items
    %section.container
      .layout_shadow
      .row.bottom_margin
        %h3.span12 Featured companies, people, and projects
      .row
        .span1
          .prev
            %button prev
        .carousel.slide.span10
          .carousel-inner
            -@featured_items.each_slice(5).with_index do |slice, index|
              .item{class: "#{'active' if index == 0}"}
                .thumbnails
                  -slice.each_with_index do |i, index|
                    -i = i.resource
                    .image_list_item.image_list_item_small.span2{class: "#{'first' if index == 0}"}
                      .image
                        - if i.image
                          =image_tag i.image.thumb('200x170').url
                        - else
                          =image_tag 'defaultbust.jpg'
                      %h3=i.name
                      -#-if i.tagline
                        -#%p=i.tagline
        .span1
          .next
            next
=content_for :javascripts do
  :coffeescript
    $('.carousel').carousel()
    $('#featured_items .next').on 'click', (e)->
      $('.carousel').carousel('next')
    $('#featured_items .prev').on 'click', (e)->
      $('.carousel').carousel('prev')
