%section.row
  .rslides_container.span12
    %ul#slideshow
      %li
        =link_to '#' do
          =image_tag 'mockups/project_lge.png'
      %li
        =link_to '#' do
          =image_tag 'mockups/person_thumb.jpeg'
    =content_for :javascripts do
      :coffeescript
        $('#slideshow').responsiveSlides(
          nav: true 
        )

%section.row
  .span3
    %h2
      Blurb Heading
    %p
      Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
  .span3
    %h2
      Blurb Heading 2
    %p
      Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
  .span6
    %h2 Blurb Heading 2
    %p
      Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
      Blurb Heading Three
  .divider.span12.bottom_border
    
