= simple_form_for([@company, @customer]) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg
  =f.input :company_id, as: :select, collection: current_person.companies
  =f.input :name
  =f.input :description
  .actions
    = f.submit class: 'btn'
