- title("Customers")
%table
  %tr
    %th
    %th
    %th
  - @customers.each do |customer|
    %tr
      %td= link_to customer.name, staff_customer_path(customer)
      %td= link_to 'Edit', edit_staff_customer_path(customer)
      %td= link_to 'Destroy', staff_customer_path(customer), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Customer', new_staff_customer_path
