                    	<div class="bannerpics">
                        		<ul>		
								<li><img src="/images/programming.jpg" alt="programming"/>
                                <br /><a href="programmingjobs.html">Programming</a></li>
								<li><img src="/images/websites.jpg"alt="websites"/>
                                <br /><a href="websites.html">Websites</a></li>
								<li><img src="/images/design.jpg"alt="design"/>
                    			<br /><a href="design.html">Design</a></li>
                                <li><img src="/images/video.jpg"alt="video"/>
                                <br /><a href="video.html">Video</a></li>
                       			<li><img src="/images/writing.jpg"alt="writing"/>
                                <br /><a href="writing">Writing</a></li>
	  							</ul>
                     	</div>