= javascript_include_tag "http://widgets.twimg.com/j/2/widget.js"
:javascript
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 6000,
    width: 'auto',
    height: 425,
    theme: {
      shell: {
        background: '#ffffff',
        color: '#32bad9'
      },
      tweets: {
        background: '#ffffff',
        color: '#3f3f3f',
        links: '#32bad9'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('enspiral').start();
