%h1 About Enspiral
%p
  We are a professional services company with staff around New Zealand and have specialists in the following areas:
%ul
  %li Website development
  %li Startups and new ventures
  %li Branding and design
  %li Animation and Illustration
  %li Facilitation and team building
%p
  Please forgive our website, we are pretty busy with client work at the moment and will get onto it when we can.
%p
  Email #{mail_to 'contact@enspiral.com'} if you would like to get in touch.
