<h1>About Enspiral</h1>

<p>
We are a professional services company with staff around New Zealand and have specialists in the following areas:
</p>

<ul>
  <li>Website development</li>
  <li>Startups and new ventures</li>
  <li>Branding and design</li>
  <li>Animation and Illustration</li>
  <li>Facilitation and team building</li>
</ul>

<p>
Please forgive our website, we are pretty busy with client work at the moment and will get onto it when we can.
</p>

<p>
Email <%= mail_to 'contact@enspiral.com' %> if you would like to get in touch.
</p>
