%div{:style => "width:825px; margin: 0 auto;"}
  %h1 About Enspiral

  :plain
    <div class="prezi-player"><style type="text/css" media="screen">.prezi-player { width: 825px; } .prezi-player-links { text-align: center; }</style><object id="prezi_m-q7b4srrfpj" name="prezi_m-q7b4srrfpj" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="825" height="600"><param name="movie" value="http://prezi.com/bin/preziloader.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="bgcolor" value="#ffffff"/><param name="flashvars" value="prezi_id=m-q7b4srrfpj&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/><embed id="preziEmbed_m-q7b4srrfpj" name="preziEmbed_m-q7b4srrfpj" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="825" height="600" bgcolor="#ffffff" flashvars="prezi_id=m-q7b4srrfpj&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed></object><div class="prezi-player-links"><p><a title="enspiral is a collaboration of talented individuals focused on using the power of design & the web for positive impact." href="http://prezi.com/m-q7b4srrfpj/engage-with-enspiral/">Engage with Enspiral</a> on <a href="http://prezi.com">Prezi</a></p></div></div>


  %h2{:style => "color: black; text-shadow: none;"} Who We Are

  %p Enspiral is a social innovations company, a coming together of change-makers of world class talent. We deliver beautiful websites, innovative software, even tackle your business legal needs - all with exceptional value. But that’s just scratching the surface...

  %h2{:style => "color: black; text-shadow: none;"} How We Roll

  %p Behind the scenes Enspiral is an innovatively new kind of business incubator. We spin off startups that are designed to tackle some of the pressing social and environmental issues of our time with creativity, a touch of technology, and a whole heap of talent. 

  %p We do this by delivering design and build contracts for you. You get top talent working on your baby at an otherwise unobtainable price, and we get an excuse to play together and get our creative juices flowing, while inducting new talent into our midst. From a hotbed of talent, under a roof of aligned values, our ideas get the right conditions to spring into new ventures.
  
  

  %h2{:style => "color: black; text-shadow: none;"} The Enspiral Story

  %p Enspiral is a dream in the making. 

  %p
    %b 2009
    %br
    Its humble origins came from a serendipitous meeting of talent from the world of grass roots non-profits. Inside these circles of high energy motivated change makers came a simple idea...

  %p{:style => "text-align:center;"} What happens when we give really talented non-profit people profitable projects?

  %p The idea clicked, and we grew to quickly in numbers, projects and opportunities. From this came the mantras like “how can we help you?”, “take what you need, use the rest to change the world”, and internal way of doing things that’s self-organising and democratic. 

  %p
    %b 2010
    %br
    In a year we were 20 strong, and already, we found ourselves working with startups on some interesting technologies; sometimes we would partner.

  %p
    %b 2011
    %br
    Today Enspiral is organically growing into a new kind of business incubator. For our customers we build bespoke apps and websites. We can provide partnering opportunities, tech and legal support, and we’re a think tank of crazy ideas, some of which we spin off as new ventures.

    %p And always with the mindset of “how do we make this planet a better place?”

  %br
