        		
        	<div class="content">
                
                	<h3>Contact us here!</h3>
					<br>
					Victoria Street<br>
					Joshua's Number: <%= @phone_number %>               
    		</div>