<div id="homeleft">

<p>
<strong>We are a professional services company who specialise in building small cross functional teams of highly skilled professionals.</strong>
</p>

<p>
We have staff around New Zealand who can help with:
</p>

<ul>
  <li>Website development</li>
  <li>Startups and new ventures</li>
  <li>Branding and design</li>
  <li>Animation and Illustration</li>
  <li>Facilitation and team building</li>
  <li>Copywriting</li>
  <li>Online Marketing & Social Media</li>
</ul>

<p>Some examples of our recent web work:</p>
<ul>
  <li><a href='http://www.ican.org.nz'>www.ican.org.nz</a></li>
  <li><a href='http://www.worknow.co.nz'>www.worknow.co.nz</a></li>
  <li><a href='http://www.enviroschools.org.nz'>www.enviroschools.org.nz</a></li>
  <li><a href='http://www.parksbase.com'>www.parksbase.com</a></li>
</ul>

<p>
Please forgive our website, we are pretty busy with client work at the moment and will launch a proper site when we can,
until then <%= link_to 'twitter', 'http://www.twitter.com/enspiral' %> is the best place to see what we're up to.
</p>

     <p class='box' style='text-align:center;'>
     Feel free to get in touch if you would like more information.<br/>
     <%= mail_to 'contact@enspiral.com' %> or +64 21 684 495
     </p>
</div>
<!--
<div class='special'>
  <a href="http://localhost:3000/social_media"> <h1>Social Media Coaching</h1></a>
  <p>
    Social media is like exercise, no one else can do it for you but with the right plan, tools and training you can achieve measurable improvements. <%= link_to 'Read more', social_media_path %> <p><a href="http://localhost:3000/social_media_booking"><h1<img src="http://blog.worknow.co.nz/wp-content/uploads/2010/05/booknow.jpg" /></a></p>
</div>
-->
<%= render :partial => 'layouts/twitterjs' %>
			

