<div id="homeleft">
     <p>
     We're pretty busy with client work at the moment and this site is on the back burner. 
     Eventually there will be a whole lot more to see here, until then <%= link_to 'twitter', 'http://www.twitter.com/enspiral' %> is the best place to see what we're up to.
     </p>
     <p style='margin-top:30px;border:1px solid #aaa; background-color:#eee;padding:20px;'>
     While things are pretty busy, we do have developers on call - so get in touch with Joshua if you need any rails work done.<br/><br/>
     <%= link_to 'Linked In', 'http://nz.linkedin.com/in/joshuavial' %> or on +64 21 684 495
     </p>
</div>

<%= render :partial => 'layouts/twitterjs' %>
			

