#homeleft
  %p
    %strong We assemble cross functional teams of highly skilled professionals for interesting projects.
  %p
    We have staff around Australia and New Zealand who can help with:
  %ul
    %li Website development
    %li Startups and new ventures
    %li Branding and design
    %li Animation and Illustration
    %li Facilitation and team building
    %li Copywriting
    %li Online Marketing & Social Media
  %p
    Please forgive our website, we are pretty busy with client work at the moment and will launch a proper site when we can,
    until then #{link_to 'twitter', 'http://www.twitter.com/enspiral'} is the best place to see what we're up to.
  %p.box{:style => "text-align:center;"}
    Feel free to get in touch if you would like more information.
    %br/
    = mail_to 'contact@enspiral.com'
    or +64 21 684 495
/
  <div class='special'>
  <a href="http://localhost:3000/social_media"> <h1>Social Media Coaching</h1></a>
  <p>
  Social media is like exercise, no one else can do it for you but with the right plan, tools and training you can achieve measurable improvements. <haml:loud> link_to 'Read more', social_media_path </haml:loud> <p><a href="http://localhost:3000/social_media_booking"><h1<img src="http://blog.worknow.co.nz/wp-content/uploads/2010/05/booknow.jpg" /></a></p>
  </div>
= render :partial => 'layouts/twitterjs'
