<div id="homeleft">

<p>
We are a professional services company with staff around New Zealand and have specialists in the following areas:
</p>

<ul>
  <li>Website development</li>
  <li>Startups and new ventures</li>
  <li>Branding and design</li>
  <li>Animation and Illustration</li>
  <li>Facilitation and team building</li>
</ul>

<p>
Please forgive our website, we are pretty busy with client work at the moment and will launch a proper site when we can.
</p>
<p>
Soon there will be a whole lot more to see here, until then <%= link_to 'twitter', 'http://www.twitter.com/enspiral' %> is the best place to see what we're up to.
</p>
     <p class='box' style='text-align:center;'>
     Feel free to get in touch if you would like more information.<br/>
     <%= mail_to 'contact@enspiral.com' %> or +64 21 684 495
     </p>
</div>

<%= render :partial => 'layouts/twitterjs' %>
			

