<% content_for :banner do %>
	<%= render :partial => 'banner' %>
<% end %>

<% content_for :twitterjs do %>
	<%= render :partial => 'twitterjs' %>
<% end %>

<div id="homeleft">
     <h1>Welcome to enspiral</h1>
     <p>dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam 						ee fdfliquip ex ea commodo consequat. Duis aute irure dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim</p>  
</div>


