%h1 We'll be in touch
%p Thanks for your interest, we will be in touch shortly
/ Google Code for Contact Us Conversion Page
:javascript
  /*  */
  var google_conversion_id = 1010479745;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "NhnuCO_g_gEQgeXq4QM";
  var google_conversion_value = 0;
  /*  */
%script{:src => "http://www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "http://www.googleadservices.com/pagead/conversion/1010479745/?label=NhnuCO_g_gEQgeXq4QM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
