<h1>Join the crew</h1>

<p>
<strong>Enspiral isn't a regular sort of company</strong> - which is lucky because the people we hire aren't interested in a traditional work environment.
We believe that a 9-5 working week for a fixed salary is at best antiquated and at worst exploitative, that trust and transparency are the foundation for all 
working relationships and that people should be in charge of their own destinies.
</p>

<p>
<strong>You call the shots</strong> - you set your own pay, work your own hours and choose your own projects. We help you focus on what you are good at 
by finding people to look after the things you don't want to.
</p>

<p>
<strong>We offer opportunities, not jobs</strong> - working at Enspiral is a lot like running your own business, we work hard to make this as easy for
you as possible but ultimately you are responsible for your own success. We pay for performance and expect excellence.
</p>

<p>
<strong>We look for people who can be world class</strong> - that doesn't mean you are at the top of your game right now, 
but you have the talent and drive to be a leader in your field. 
</p>

<p>
<strong>Changing the world is our passion</strong> - humanity is facing unprecedented social, environmental and economic challenges and this company exists to help respond to those challenges.
If you are sincere in your desire to make the world a better place then your personal success is our number one priority.
</p>

<div class='box'>
<p>
  We have grown rapidly over the last few months and are holding at our current staffing levels while we focus on our internal systems. If you are interested in coming on board then 
  email <%= mail_to 'recruitment@enspiral.com' %> we'll be in touch for our next intake in a month or two.
</p>
</div>
<p>
</p>
