#homeleft.content
  .service
    %a
      %img{:align => "left", :alt => "programming", :src => "images/programming.jpg"}/
    %h1
      %a{:href => "programmingjobs.html"} Programming
    %p
      dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol..
      %a{:href => "Joshua.html"} see more
  .service
    %a
      %img{:align => "left", :alt => "websites", :src => "images/websites.jpg"}/
    %h1
      %a{:href => "websites.html"} Websites
    %p
      dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim 						 						eniam esequat. Duis aute irure dol..
      %a{:href => "jamie.html"} see more
  .service
    %a
      %img{:align => "left", :alt => "Design", :src => "images/design.jpg"}/
    %h1
      %a{:href => "design.html"} Design
    %p
      dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol..
      %a{:href => "Joshua.html"} see more
  .service
    %a
      %img{:align => "left", :alt => "Video", :src => "images/video.jpg"}/
    %h1
      %a{:href => "video.html"} Video
    %p
      dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim 						 						eniam esequat. Duis aute irure dol..
      %a{:href => "jamie.html"} see more
  .service
    %a
      %img{:align => "left", :alt => "Writing", :src => "images/writing.jpg"}/
    %h1
      %a{:href => "writing.html"} Writing
    %p
      dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol..
      %a{:href => "Joshua.html"} see more
