
        		
        	<div class="content" id="homeleft">
                
                	<div class="service">
                    	
                        <a><img src="images/programming.jpg" alt="programming" align="left"/></a>
                        
                        <h1><a href="programmingjobs.html">Programming</a></h1>
                        <p>dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol.. <a href="Joshua.html">see more</a>  
                        
                    </div>
                    
                    <div class="service">
                    	
                        <a><img src="images/websites.jpg" alt="websites" align="left"/></a>
                        
                        <h1><a href="websites.html">Websites</a></h1>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim 						 						eniam esequat. Duis aute irure dol.. <a href="jamie.html">see more</a>  
                        
                    </div>
                    
                    <div class="service">
                    
                    <a><img src="images/design.jpg" alt="Design" align="left"/></a>
                        
                        <h1><a href="design.html">Design</a></h1>
                        <p>dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol.. <a href="Joshua.html">see more</a>  
                        
                    </div>
               
                    <div class="service">
                    	
                        <a><img src="images/video.jpg" alt="Video" align="left"/></a>
                        
                        <h1><a href="video.html">Video</a></h1>
                        <p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim 						 						eniam esequat. Duis aute irure dol.. <a href="jamie.html">see more</a> </p>
                    
                    </div>
                        
                    <div class="service">
                    
                    	<a><img src="images/writing.jpg" alt="Writing" align="left"/></a>
                        
                        <h1><a href="writing.html">Writing</a></h1>
                        <p>dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam ee fdfliquip ex ea commodo consequat. Duis aute irure dol.. <a href="Joshua.html">see more</a> </p> 
                        
                    </div>
                    
                    
    		</div>