<h2>Social Media Coaching</h2>
<p>
  <table border="0" width="100%" cellpadding="5">
<tr>

<td width="90%" valign="top">
<h3>
  <strong>Social media is like exercise, no one else can do it for you but with the right plan, tools and training you can achieve measurable improvements.</strong><p>Our consultants offer expertise, tools and support to get you quickly up and running with social media. Availalbe by appointment 9am - 9pm Sunday to Friday from <a href="http://hotjobs.yahoo.com/career-articles-emerging_jobs_in_social_media-1274">only $50 + GST per hour</a></p></h3>
</td>

<td width="10%" valign="centre">
<a href="http://localhost:3000/social_media_booking"><img src="http://blog.worknow.co.nz/wp-content/uploads/2010/05/booknow.jpg" /></a>
</td>

</tr>
</table>

      <table border="0" width="100%" cellpadding="5">
<tr>
<td><h4>Strengthen your online marketing</h4></td>
<td><br> Become more agile by accessing timely, relevant, business and customer information </br>

      <br> Maximise business and learning opportunities by expanding your networks </br>

      <br> Build enduring personal and business brands</br>
      
</td>
</tr>
<tr>
<td><h4>Social media planning</h4></td>
<td>By understanding the audience/s you would like to engage we can assist you to create and systemise a repeatable, scalable social media plan.   
</tr><tr>
<td><h4>Implementation </h4></td>
<td>We can quickly create and integrate multiple accounts with the tools and applications you need to effectively manage activity across multiple platforms. </td>
</tr>
<tr>
<td><h4>Training & Support</h4></td>
<td>We are happy to work with you to show you the ropes, familiarise you with the tools and platforms, listen and answer any questions you may have.
</td>
</tr>
</table>

      


