%h2 Social Media Coaching
%p
  %table{:border => "0", :cellpadding => "5", :width => "100%"}
    %tr
      %td{:valign => "top", :width => "90%"}
        %h3
          %strong Social media is like exercise, no one else can do it for you but with the right plan, tools and training you can achieve measurable improvements.
        %p
          Our consultants offer expertise, tools and support to get you quickly up and running with social media. Availalbe by appointment 9am - 9pm Sunday to Friday from
          %a{:href => "http://hotjobs.yahoo.com/career-articles-emerging_jobs_in_social_media-1274"} only $50 + GST per hour
      %td{:valign => "centre", :width => "10%"}
        %a{:href => "http://localhost:3000/social_media_booking"}
          %img{:src => "http://blog.worknow.co.nz/wp-content/uploads/2010/05/booknow.jpg"}/
  %table{:border => "0", :cellpadding => "5", :width => "100%"}
    %tr
      %td
        %h4 Strengthen your online marketing
      %td
        %br/
        Become more agile by accessing timely, relevant, business and customer information
        %br/
        Maximise business and learning opportunities by expanding your networks
        %br/
        Build enduring personal and business brands
    %tr
      %td
        %h4 Social media planning
      %td
        By understanding the audience/s you would like to engage we can assist you to create and systemise a repeatable, scalable social media plan.
    %tr
      %td
        %h4 Implementation
      %td We can quickly create and integrate multiple accounts with the tools and applications you need to effectively manage activity across multiple platforms.
    %tr
      %td
        %h4 Training & Support
      %td
        We are happy to work with you to show you the ropes, familiarise you with the tools and platforms, listen and answer any questions you may have.
