#staff_testimonials
  %h1 What’s Great About Working at Enspiral?

  .testimonial.clearfix
    =image_tag "testimonials/rob_web.jpg"
    %p
      %strong Rob Guthrie: 
      Learning from others while having the freedom to do things your own way and try stuff out., and the constant focus on improving processes.

  .testimonial.clearfix
    =image_tag "testimonials/hamish_web.jpg"
    %p
      %strong Hamish Evans:
      I can work where I want, for how much I want, and what times I want! Being time-rich allows me to think in a more self-directed way, be creative, and solve bigger, better and more relevant issues. In turn, this leads to more self-fulfillment. The office environment is kick-ass and creates super synergies which accelerates learning!

  .testimonial.clearfix
    =image_tag "testimonials/alex_web.jpg"
    %p 
      %strong Alex Gibson:
      Enspiral is the first job I've had were everyone is pushing on the edges of the box, everyone is seeking change and everyone cares. In my previous jobs I'd always feel alone in my quest to do good, but at Enspiral there are a whole bunch of like-minded people working together.

  .testimonial.clearfix
    =image_tag "testimonials/jamie_web.jpg"
    %p 
      %strong Jamie MacDonald: 
      Being around many inspirational people pursuing their dreams to make a difference in the world is my most valued part of Enspiral.

  .testimonial.clearfix
    =image_tag "testimonials/samson_web.jpg"
    %p 
      %strong Samson Ootoowak: 
      The choice to pick the work I want to do and the trust and freedom to do it in a way that fits my lifestyle.

  .testimonial.clearfix
    =image_tag "testimonials/allan_web.jpg"
    %p 
      %strong Allan Anderson: 
      Freedom to choose what, when, and where to work (within reason) leads to a richer life. Our culture of doing good keeps it at the forefront of my mind, and the great team nurtures me.

  .testimonial.clearfix
    =image_tag "testimonials/nicholas_web.jpg"
    %p 
      %strong Nicolas Wormser: 
      Enspiral allows me to work on projects that reflect my values, which in turn helps me to make the world a bit more how I'd like it to be. Working on things I like really helps me to lead my life in a pleasant manner and forge fruitful relationships with like-minded people.

  .testimonial.clearfix
    =image_tag "testimonials/kelly_web.jpg"
    %p 
      %strong Kelly Cheesman: 
      Enspiral shows that if you give employees freedom, choice, responsibility, inspiration, support and a place to connect - great things can happen. I am constantly amazed and inspired by the projects and conversations I get to be part of.

  .testimonial.clearfix
    =image_tag "testimonials/kate_web.jpg"
    %p
      %strong Kate O'Brien: 
      Ensprial allows me to be apart of a team that works for me. This makes for a harmonious working environment (near or far) where we are able to support and learn from each other to create inspirational projects that make a difference!

  .testimonial.clearfix
    =image_tag "testimonials/riccardo_web.jpg"
    %p
      %strong Riccardo Tacconi: 
      Enspiral puts strong ethical values in its projects, like protecting the environment, starting sustainable businesses, and making the world a better place. I can choose how much time I can work and when, balancing the needs of customers and my own.
