.flash {
  padding: 5px 10px;
  margin-bottom: $base_line_height;
  @include single-box-shadow(#ccc, 1px, 1px, 2px);
  &.notice {
    background: #FFFFCF;
  }
  &.error {
    background: #FFDEDE;
  }
  &.success {
    background: #EEFFDE;
  }
}
.horizontal_nav {
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      a {
        padding: $base_line_height / 2 $base_line_height;
        display: block;
      }
    }
    &.right {
      float: right;
    }
  }
}

td {
 input, form {
   margin: 0;
 }
}
.pictoral_list {
  float: left;
  .col.last { margin-right: 0;}
  .image {
    width: 100%;
    height: 130px;
    margin-bottom: $base_line_height / 2;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .pictoral_list_item {
    h3 {margin-bottom: 0;}
    p {margin: 0;}
    margin-bottom: $base_line_height / 2;
    margin-right: $base_line_height;
    &.last {margin-right: 0;}
  }
  .expander {
    text-align: right;
    clear: both;
   }
  &.small {
    .pictoral_list_item {
      h3 {margin-bottom: 0;}
      p {margin: 0;}
      margin-bottom: $base_line_height / 4;
      height: 66px;
      width: 66px;
      .expander { text-align: left;}
    }
    .col.last { margin-right: 0;}
    .image {
      width: 100%;
      height: 70px;
      margin-bottom: $base_line_height / 4;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  &.medium {
    .pictoral_list_item {
      h3 {
        margin-bottom: 0;
        font-size: $base_font_size ;
      }
      p {margin: 0;}
      margin-bottom: $base_line_height / 4;
      height: 120px;
      width: 106px;
      margin-right: $base_line_height / 2;
      .expander { text-align: left;}
    }
    .col.last { margin-right: 0;}
    .image {
      width: 100%;
      height: 70px;
      margin-bottom: $base_line_height / 4;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

.expandee {
  display: none;
  .close.x{
    font-weight: bold;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: -15px;
    margin-right: -10px;
    color: #ccc;
    &:hover{
     cursor: pointer;
     color: #888;
   }
  }
}

.quick_card {
  width: 60%;
  position: absolute;
  top: 35px;
  z-index: 10;
  left: 19%;
  background: $pale_color_1;
  font-size: $base_font_size * 0.9;
  @include single-box-shadow(#ccc, 1px, 1px, 4px);
  #detail {
    border: solid 1px $divider_color;
    padding: $base_line_height / 2 $base_line_height;
  }
  h3 {
    text-align: left;
    margin-bottom: 3px;
    .small {
      color: #ccc;
      font-size: $base_font_size * 0.8;
    }
  }
  ul {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      list-style: none;
      padding: 3px 0;
      &.contact {
        color: #666;
      }
      span {
        margin-right: 15px;
      }
      &.finance {
        & > div {
          float: left;
          margin-right: 15px;
          background: #fff;
          padding: 5px;
          border: solid 1px #ccc;
        }
        .red_ink {
          font-size: $base_font_size;
          font-weight: bold;
          color: $red_ink;
        }
        .green_ink {
          font-size: $base_font_size;
          font-weight: bold;
          color: $green_ink;
        }
      }
    }
  }
}

.big_search {
  position: relative;
  text-align: center;
  border-bottom: solid 1px $divider_color;
  padding-bottom: $base_line_height / 2;
  p.small {
    margin-top: 3px;
    color: #ccc;
  }
  input {
    -webkit-transition: 0.5s linear;
    outline: none;
    border: none;
    padding: 5px;
    width: 280px;
    @include single-box-shadow(#ccc, 0px, 0px, 2px, 2px, inset);
    @include border-radius(5px);
    &:focus {
      background: #ececec;
      @include single-box-shadow($glow_color, 0px, 0px, 5px, 1px);
    }
  }
}

.searchable_list {
  .quick_actions {
    text-align: right;
    padding-right: 16px;
   }
}

table {
  width: 100%;
  margin-bottom: $base_line_height;
  thead {
    th {
      padding: 5px;
      text-align: left;
    }
  }
  tr:hover {
    td {
      background: $light_color_3;
    }
  }
  a, a:visited {
    color: darken($link_hover_color, 10%);
  }
  td {
    padding: 5px;
    border-bottom: solid 1px $light_color_1
  }
}
