-compact = false if local_assigns[:compact].nil?
-show_header = true if local_assigns[:show_header].nil?
%table.table.table-striped{ class: "#{'table-compact' if compact}"}
  -if show_header
    %thead
      %tr
        %th Name
        %th Customer

  %tbody
    - projects.each do |project|
      %tr{class: "#{project.status == "active" ? "filter-active" : "filter-inactive"}"}
        %td.text_filter 
          =link_to project.name, [@company, project]
        %td.centered= project.customer ? project.customer.name : ''
