%table.capacity.table.table-striped
  %thead
    %tr
      %th 
        %strong Member
      - week_dates(@start_on, @finish_on).each do |date|
        %th
          %strong= date
      %th
        %strong Total

  %tbody
    - @project.project_memberships.each do |membership|
      - person = membership.person
      - hours_per_weeks = membership.project_bookings.total_hours_per_week(@start_on, @finish_on)
      %tr
        %td.centered
          =person.name
          = '*' if membership.is_lead?
        - hours_per_weeks.each do |week, hours|
          %td.centered=hours
        %td.centered= membership.project_bookings.where(week: @start_on..@finish_on).sum('time')

    %tr
      - week_dates(@start_on, @finish_on).each do |date|
        %td
      %td.centered Project Total
      %td.centered=@project.project_bookings.where(week: @start_on..@finish_on).sum(:time)
