%tr.nested-fields
  %td
    =f.input :person_id, collection: Person.active.all, input_html: {class: 'czn-select'}
  %td
    =f.input :is_lead, label: 'Project Lead?'
  %td
    =f.input :role
  %td
    =link_to_remove_association 'Remove', f, class: 'btn'

