- class_name = (xero_field == enspiral_field) ? "" : 'error_highlight'

%tr
  %td{class: class_name}
    = field_name
  %td{class: class_name}
    = xero_field
  %td{class: class_name}
    = enspiral_field