%h1 Invoice Check

.span3
  %h2
    Xero invoice
    - if @invoice.xero_link != "#"
  .xero-link
    = link_to @invoice.xero_link, :target => "_blank" do
      View in Xero
      %i{class: "icon-share"}

.span3
  %h2
    my.enspiral invoice ()

-#if xero_invoice.contact.name != enspiral_invoice.customer.name
-#  if Customer.find_by_name(xero_invoice.contact.name)
-#    customer = Customer.find_by_name(xero_invoice.contact.name)
-#  else
-#    customer = Customer.create!(:name => xero_invoice.contact.name, :company_id => company_id, :approved => false)
-#  end
-#  enspiral_invoice.customer = customer if customer
-#  end
-#
-#  if xero_invoice.attributes[:sub_total] != enspiral_invoice.amount
-#    enspiral_invoice.amount = xero_invoice.attributes[:sub_total]
-#  end
-#
-#  enspiral_invoice.xero_id = xero_invoice.invoice_id
-#
-#  if xero_invoice.date != enspiral_invoice.date
-#    enspiral_invoice.date = xero_invoice.date
-#  end
-#
-#  if xero_invoice.due_date != enspiral_invoice.due
-#    enspiral_invoice.due = xero_invoice.due_date
-#  end
-#
-#  if enspiral_invoice.allocations.count > 0
-#    enspiral_invoice.allocations.destroy_all
-#  end
-#
-#  if xero_invoice.line_items.count > 0
-#    # Invoice.check_discount_value_in_line_item inv, enspiral_invoice
-#    Invoice.import_line_items xero_invoice, enspiral_invoice
-#  end
-#
-#  enspiral_invoice.save!