%tr.goal
  %td.title=goal.title
  %td.owner=goal.person.name
  %td.description=goal.description
  -if goal.completion_description
    %td.description=goal.completion_description
  -else
    %td.description
  -if goal.score > 0
    %td.score=goal.score
  -else
    %td.score
  %td.date=goal.date
  %td= link_to "edit/complete", edit_goal_path(goal)
