- title("Goals")


%h3 Add new goal
= render 'form'

%h3 Current Goals
%table
  -@current.each do |goal|
    =render :partial => "goal", :locals => { :goal => goal, :scope => "current" }

%h3 Past Goals
%table
  -@past.each do |goal|
    =render :partial => "goal", :locals => { :goal => goal }
