- content_for :javascript do
  :plain
    $.ajax({
      url      : "/staff/balances/10",
      success  : plotWithOptions,
      error    : console.info("Error in transaction AJAX request."),
      dataType : "json"
    });
    
    function plotWithOptions(data) {
      $.plot($("#graph"), [
        {
          data: data,
          color: "rgb(0, 155, 0)",
          lines: { 
            show: true,
            fill: true
          },
          threshold: { 
            below: 0, 
            color: "rgb(155, 0, 0)" 
          }
        }
      ],
      { 
        xaxis: { 
          mode: "time", 
          timeformat: "%y/%m/%d" 
        },
        yaxis: {
          tickFormatter: function (val, axis) { return "$" + (val/1000) + "k"; }
        }
      });
    }
    

#graph{:style => "height:340px;"}

- unless @transactions.empty?
  %table
    %tr
      %th Date
      %th Description
      %th Amount
      %th Running Total

    - @transactions.each do |transaction, sub_total|
      - is_in_the_red = sub_total < 0 ? "red-ink" : ""
      - is_taken_off = transaction.amount < 0 ? "red-ink" : ""
      %tr{:class => is_in_the_red}
        %td.date= transaction.date
        %td= transaction.description.titleize
        %td.number{:class => is_taken_off}= number_to_currency transaction.amount
        %td.number= number_to_currency sub_total

