#graph{:style => "width:700px; height:250px;"}
  
- unless @transactions.empty?
  %table
    %tr
      %th Date
      %th Amount
      %th Description
      %th Running Total

    - @transactions.each do |transaction, sub_total|
      %tr
        %td= transaction.date
        %td= number_to_currency transaction.amount
        %td= transaction.description
        %td= number_to_currency sub_total

