- edit_access = false
- edit_access = true if current_person.company_admin_or_admin?(@company)
.row
  %h1.span5.bottom_margin
    Company Memberships for 
    %span.attention #{@company.name}
  .model_actions.span5
    - if edit_access
      =link_to('New membership', new_company_company_membership_path(@company), class: 'btn')
      =link_to('New person', new_person_company_company_memberships_path(@company), class: 'btn')

%nav
  .nav.table_actions
    %ul.nav.nav-tabs
      %li.nav_label
        Find:
      .search_box.navbar-form.pull-left
        =text_field_tag :search, nil, :class => "input-small"
%table.table.table-striped.memberships
  %tbody
    -@memberships.each do |m|
      %tr
        - if edit_access == true
          %td.actions
            =link_to edit_company_company_membership_path(@company, m) do
              %i.icon-pencil
            =link_to [@company, m], method: :delete, class: 'red_ink', confirm: 'Are you sure you want to remove this person?' do
              %i.icon-remove
        %td.text_filter=link_to m.person.name, profile_path(m.person)
        %td=m.role

        %td.align-right.orange_ink=m.admin ? 'admin' : ''
=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.memberships'
    )
