%h2 New Company Membership

=simple_form_for(@membership, url: company_company_memberships_path(@company)) do |f|
  =f.input :person_id, collecton: options_for_select(@nonmembers), input_html: { class: 'czn-select' }
  =f.input :role, :collection => CompanyMembership::ROLES
  .single-checkbox
    =f.input :admin
  =f.submit class: 'btn'

