%h2 New Company Membership

=simple_form_for(@membership, url: index_path) do |f|
  .control-group
    =f.label :person_id, "Person"
    =f.select :person_id, @nonmembers.collect{|nm| [nm.name, nm.id]}, {}, { class: 'czn-select' }
  .control-group
    =f.input :role, :collection => Enspiral::CompanyNet::CompanyMembership::ROLES
  .control-group
    .single-checkbox
      =f.input :admin
  =f.submit class: 'btn'

