%table.table.table-striped.tablesorter#details
  %thead
    %tr
      %th Account
      %th{class: "{sorter: 'currency'}"} Amount
  %tbody
    - total = 0
    - reports.each do |account, contribution|
    - total = total + contribution
      %tr
        %td.text_filter= account
        %td=number_to_currency(contribution, delimiter: '')
  %tr{style: "color: red; font-weight: bold;"}
    %th{style: "text-align: right; padding-right: 50px;"} Total :
    %th= number_to_currency total

=content_for :javascripts do
  :javascript
    $('.tablesorter').tablesorter()