.row
  %h1.bottom_margin.span10 #{@title}
.row{style: "margin-left: 0px;"}
  =link_to 'Monthly Cash Position', [:cash_position, @company, :reports]
  |
  =link_to 'Manually Compare Cash Position', [:manual_cash_position, @company, :reports]
  |
  =link_to 'Monthly Contribution', [:contribution, @company, :reports]
.row
  .accounts.span10
    %nav
      .nav.table_actions
        %ul.nav.nav-tabs
          - if params[:action] == 'contribution'
            %li.nav_label
              Find:
            .search_box.navbar-form
              =form_tag nil, style: 'float:right;margin-right:50px;', method: 'get' do
                From : 
                =text_field_tag :from, @from, class: 'datepicker', style: "width: 100px;"
                To : 
                =text_field_tag :to, @to, class: 'datepicker', style: "width: 100px;"
                Team :
                =select_tag :type, options_for_select(["Collective Funds", "TEAM: Craftworks", "TEAM: Freewheeler", "TEAM: Lean Hosting", "TEAM: Lean Websites", "TEAM: Purposive"], params[:type])
                =submit_tag 'Filter'
              =text_field_tag :search, nil, :class => "input-small", tabindex: 1
          - elsif params[:action] == 'manual_cash_position'
            %li.nav_label
              Find:
            .search_box.navbar-form
              =form_tag nil, style: 'float:right;margin-right:50px;', method: 'get' do
                From : 
                =text_field_tag :from, @from, class: 'datepicker', style: "width: 100px;"
                To : 
                =text_field_tag :to, @to, class: 'datepicker', style: "width: 100px;"
                =submit_tag 'Filter'
                =submit_tag 'Reset'
              =text_field_tag :search, nil, :class => "input-small", tabindex: 1
          - elsif params[:action] == 'cash_position'
            %li.nav_label
              Find:
            .search_box.navbar-form
              =form_tag nil, style: 'float:right;margin-right:50px;', method: 'get' do
                From : 
                =text_field_tag :from, @from, class: 'datepicker', style: "width: 100px;"
                To : 
                =text_field_tag :to, @to, class: 'datepicker', style: "width: 100px;"
                =submit_tag 'Filter'
              =text_field_tag :search, nil, :class => "input-small", tabindex: 1
    - if params[:action] == 'contribution' && @reports.count > 0
      = render 'contributions_table', reports: @reports, date: @date[0]
    - elsif params[:action] == 'cash_position' && @reports.count > 0
      = render 'cash_position_table', reports: @reports, date: @date, top_customers: @top_customers
    - elsif params[:action] == 'manual_cash_position' && @reports.count > 0 
      = render 'manual_cash_position_table', reports: $global_report[0], date: $global_date

=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.accounts',
      containerClass: '#details tbody',
      targetClass: '#details tbody tr'
    )
    $('.filter.filter-active').click()