%h1 Listing staff_bookings

%table
  %tr
    %th
    %th
    %th

  - @bookings.each do |booking|
    %tr
      %td= link_to 'Show', staff_booking_path(booking)
      %td= link_to 'Edit', edit_staff_booking_path(booking)
      %td= link_to 'Destroy', staff_booking_path(booking), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Booking', new_staff_booking_path
