.horizontal_nav {
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      a {
        padding: $base_line_height / 2 $base_line_height;
        display: block;
      }
    }
    &.right {
      float: right;
    }
  }
}

nav.left_nav {
  h4 {
    margin-bottom: 0;
    color: $light_color_2;
    font-weight: normal;
    font-size: 1em;
  }
  .search_box {
    margin-bottom: $base_line_height;
    label {
      color: $light_color_2;
    }
  }
  ul {
    list-style: none;
    margin: 0 0 $base_line_height 0;
    padding: 0;
    li {
      list-style: none;
      a {
        display: block;
        &.selected { 
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}

.right_border {
  border-right: solid 1px $divider_color;
}
//E.g. Profile_page
.image_left_three_col {
  .col.two_thirds {padding-bottom: 0;}
  .profile {
    width: 200px;
    padding-right: $base_line_height;
    margin-right: $base_line_height;
    float: left;
    min-height: 300px - $sep_height;
    .image {
      width: 100%;
      overflow: hidden;
      height: 130px;
      img {
        width: 100%;
        //height: 130px;
      }
    }
  }
}
//E.g projects on profile page
.pictoral_list {
  float: left;
  &.last {
  }
  .col.last { margin-right: 0;}
  .image {
    width: 100%;
    height: 130px;
    margin-bottom: $base_line_height / 2;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .pictoral_list_item {
    h3 {margin-bottom: 0;}
    p {margin: 0;}
    margin-bottom: $base_line_height;
  }
}

ul.social {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    float: left;
    margin-right: 3px;
    a {
      display: block;
      width: 32px;
      height: 32px;
      background: red;
    }
  }
}
