nav, #nav {
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      a {
        display: block;
      }
    }
    &.right {
      float: right;
    }
  }
}

.right_border {
  border-right: solid 1px $divider_color;
}

.pictoral_list {
  float: left;
  &.last {
  }
  .col.last { margin-right: 0;}
  .image {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .pictoral_list_item {
    h3 {margin-bottom: 0;}
    p {margin: 0;}
    margin-bottom: $base_line_height;
  }
}
