$base_font_size: 16px;
$base_line_height: 24px;

$max_width: 960px;
$sep-height: $base_line_height / 2;

$logo_width: 200px;

$link_color: #1BC9E0;
$link_hover_color: darken(#1BC9E0, 15%);
$dark_color_1: #000;
$med_color_1: #555;
$light_color_1: #ececec;
$light_color_2: darken(#ccc, 15%);

$divider_color: #dedede;
