$base_font_size: 16px;
$base_line_height: 24px;

$max_width: 960px;
$sep-height: $base_line_height / 2;

$logo_width: 200px;

$dark_color_1: #000;
$med_color_1: #555;
$light_color_1: #ececec;

$divider_color: #dedede;
