.bannerpics
  %ul
    %li
      %img{:alt => "programming", :src => "/images/programming.jpg"}/
      %br/
      %a{:href => "programmingjobs.html"} Programming
    %li
      %img{:alt => "websites", :src => "/images/websites.jpg"}/
      %br/
      %a{:href => "websites.html"} Websites
    %li
      %img{:alt => "design", :src => "/images/design.jpg"}/
      %br/
      %a{:href => "design.html"} Design
    %li
      %img{:alt => "video", :src => "/images/video.jpg"}/
      %br/
      %a{:href => "video.html"} Video
    %li
      %img{:alt => "writing", :src => "/images/writing.jpg"}/
      %br/
      %a{:href => "writing"} Writing
