#nav.clearfix
  %ul
    %li.first
      = link_to 'Dashboard', (current_user.staff? ? staff_dashboard_path : admin_dashboard_path)
    /%li
    /  = link_to 'Notices', notices_path
    /%li
    /  = link_to 'Services', services_path

