-# Javascript for Twitter Anywhere
= javascript_include_tag "http://platform.twitter.com/anywhere.js?id=Abua4AibnA5dNUsbdG1Z5g&amp;v=1"
:javascript
  twttr.anywhere(function(twitter){twitter.hovercards();});

-#  Append your own using content_for :javascripts
= yield :javascripts

= raw analytical.body_append_javascript


