<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Enspiral</title>

    <%= stylesheet_link_tag 'style' %>
  </head>

  <body>
    <div id="master">
      <div class="container">
        <div class="header"> 
          <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
          <!--nav goes here -->
          <div class="menu"></div>
        </div>
        	
		    <div class="content">
          <% [:notice,:error].each do |key| next if flash[key].nil? %>
            <p class='flash <%= key %>'><%= flash[key]%></p> 
          <% end %>

		      <%= yield %>
	      </div>

        <div class="copyright">
          &copy Enspiral - Site Feedback - Site by enspiral  
        </div>
      </div>
    </div>
  </body>
</html>
