<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral</title>
<%= stylesheet_link_tag 'style' %>
</head>

<body>
<div id="master">

	<!--this is the header section -->
    
    <div class="container">
    
    	<div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
    
    <!--nav goes her -->
   		 	<div class="menu">
    			<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
	  			</ul>
     		</div>
    
    	</div>

				<div class="banner">
                
<%= yield :banner %>
    		

       			</div>

        		
        	<div class="content">
            	
      <%= yield %>
	
	<%= yield :twitterjs %>
	
	
            </div>
            

      <div class="clear"></div>       
     	<div class="copyright">
         	&copy Enspiral - Site Feedback - Site by enspiral  
        </div>
    
    </div>                

</div>

</body>
</html>
