<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral</title>
<%= stylesheet_link_tag 'style' %>
</head>

<body>
<div id="master">


	<!--this is the header section -->
    
    <div class="container">
    
    	<div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
    
    <!--nav goes her -->
   		 	<div class="menu">
    			<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="team.html">Team</a></li>
					<li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
	  			</ul>
     		</div>
    
    	</div>

				<div class="banner">
                
                    	<div class="bannerpics">
                        
                        		<ul>		
								<li><img src="/images/programming.jpg" alt="programming"/>
                                <br /><a href="programmingjobs.html">Programming</a></li>
								<li><img src="/images/websites.jpg"alt="websites"/>
                                <br /><a href="websites.html">Websites</a></li>
								<li><img src="/images/design.jpg"alt="design"/>
                    			<br /><a href="design.html">Design</a></li>
                                <li><img src="/images/video.jpg"alt="video"/>
                                <br /><a href="video.html">Video</a></li>
                       			<li><img src="/images/writing.jpg"alt="writing"/>
                                <br /><a href="writing">Writing</a></li>
	  							</ul>
                            
                     	</div>
    		

       			</div>

        		
        	<div class="content">
            	
            	<div id="homeleft">
            
                        <h1>Welcome to enspiral</h1>
                        <p>dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim ad minim 						 								 						eniam 						ee fdfliquip ex ea commodo consequat. Duis aute irure dolor sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim or sit cing elit, sed do eiusmod tempor incidit  et dolore magna aliqua. Ut enim</p>  

    			</div>
                
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 6,
  interval: 6000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#5fc0cf',
      color: '#ffffff'
    },
    tweets: {
      background: '003366',
      color: '#ffffff',
      links: '#abe374'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('enspiral').start();
</script>
		
            </div>
            

      <div class="clear"></div>       
     	<div class="copyright">
         	&copy Enspiral - Site Feedback - Site by enspiral  
        </div>
    
    </div>                

</div>

</body>
</html>
