<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral</title>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>
</head>

<body>
<div id="master">
    <div class="container">
    
    <div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
      <div class="menu">
      </div>
    </div>

		<div class="content">
			<%= yield %>
		</div>
          
    <div class="clear"></div>       
    <div class="copyright">
      &copy Enspiral Limited 
    </div>
  </div>                
</div>
<% if ENV['RAILS_ENV'] == 'production' %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1616271-1");
  pageTracker._setDomainName("none");
  pageTracker._setAllowLinker(true);
  pageTracker._trackPageview();
  } catch(err) {}</script>
<% end %>
</body>
</html>
