- summary = true if local_assigns[:summary].nil?
- if summary
  %table.table.table-compact.table-striped#summary
    %thead
      %th Type
      %th Number of Accounts
      %th Balance
    %tbody
      %tr.green_ink
        %td Positive
        %td=accounts.select(&:positive?).size
        %td=number_to_currency accounts.select(&:positive?).map(&:balance).sum
      %tr.red_ink
        %td Negative
        %td=accounts.select(&:negative?).size
        %td=number_to_currency accounts.select(&:negative?).map(&:balance).sum
      %tr
        %td All
        %td=accounts.size
        %td=number_to_currency accounts.map(&:balance).sum


%table.table.table-striped.tablesorter#details
  %thead
    %tr
      %th Name
      -unless @company
        %th Company
      %th Description
      %th{class: "{sorter: 'currency'}"} Available Balance
      %th{class: "{sorter: 'currency'}"} Invoiced

  %tbody
    - accounts.each do |account|
      %tr
        %td.text_filter= link_to account.name, [@company, account]
        -unless @company
          %td= account.company ? account.company.name : "N/A"
        %td=account.description
        %td{class: account.positive? ? 'green_ink' : 'red_ink'}= number_to_currency(account.balance)
        %td{class: account.pending_balance > 0 ? 'green_ink' : ''}= number_to_currency(account.pending_balance)

=content_for :javascripts do
  :javascript
    $('.tablesorter').tablesorter()
