.nested-fields
  .control-group
    =f.collection_select :person_id, Enspiral::CompanyNet::Person.active.all, :id, :name, {}, class: 'czn-select'
    =link_to_remove_association 'Remove', f, class: 'btn'
