=simple_form_for([@company, @account]) do |f|
  .control-group
    =f.input :name
  .control-group
    %p Public means the transaction histroy and balance can be seen by all.
    .single-checkbox
      =f.input :public
  =f.submit class: 'btn'
