.row
  %h1.bottom_margin.span5 #{@title}
  .model_actions
    -if @company
      =link_to 'New Account', new_company_account_path(@company), class: 'btn'
      =link_to 'Transfer Templates', company_funds_transfer_templates_path(@company), class: 'btn'
    -else
      =link_to 'Personal Accounts', [:accounts], class: 'btn'
      =link_to 'Public Accounts', [:public, :accounts], class: 'btn'
      =link_to 'New Account', new_account_path, class: 'btn'
- if @company
  =link_to 'All', [@company, :accounts]
  (
  - Account::CATEGORIES.each do |c|
    =link_to_unless_current "#{c.capitalize}", company_accounts_path(@company, :category => c)
    = "|" unless c == Account::CATEGORIES.last
  )
  |
  =link_to_unless_current 'Public', [:public, @company, :accounts]
  |
  =link_to_unless_current 'Expense', [:expense, @company, :accounts]
  |
  =link_to_unless_current 'Historic Balances', [:historic_balances, @company, :accounts]

.row
  .accounts.span10
    %nav
      .nav.table_actions
        %ul.nav.nav-tabs
          %li.nav_label
            Find:
          .search_box.navbar-form.pull-left
            =text_field_tag :search, nil, :class => "input-small", tabindex: 1

