- name = @company ? @company.name : current_person.name

-if @company
  =link_to 'New Account', new_company_account_path(@company)
-else
  =link_to 'New Account', new_account_path

%h1 Accounts for #{name}
%table
  %tr
    %th Name
    %th Available Balance
    %th Invoiced

  - @accounts.each do |account|
    %tr
      %td= link_to account.name, [@company, account]
      %td= number_to_currency(account.balance)
      %td= number_to_currency(account.pending_total)

