.row
  %h1.bottom_margin.span5 #{@title}
  .model_actions
    -if @company
      =link_to 'New Account', new_company_account_path(@company), class: 'btn'
      =link_to 'Transfer Templates', company_funds_transfer_templates_path(@company), class: 'btn'
    -else
      =link_to 'Personal Accounts', [:accounts], class: 'btn'
      =link_to 'Public Accounts', [:public, :accounts], class: 'btn'
      =link_to 'New Account', new_account_path, class: 'btn'
- if @company
  .right
    =link_to_unless_current 'External Transactions', company_funds_transfers_path(@company)

  =link_to 'All', [@company, :accounts]
  (
  - Account::CATEGORIES.each do |c|
    =link_to_unless_current "#{c.capitalize}", company_accounts_path(@company, :category => c)
    = "|" unless c == Account::CATEGORIES.last
  )
  |
  =link_to_unless_current 'Public', [:public, @company, :accounts]
  |
  =link_to_unless_current 'External', [:external, @company, :accounts]
  |
  =link_to_unless_current 'Historic Balances', [:historic_balances, @company, :accounts]

.row
  .accounts.span10
    %nav
      .nav.table_actions
        %ul.nav.nav-tabs
          %li.nav_label
            Find:
          .search_box.navbar-form
            - if params[:action] == 'historic_balances'
              =form_tag nil, style: 'float:right;margin-right:150px;' do
                Balances at Date:
                =text_field_tag :date, @date, class: 'datepicker'
                =submit_tag 'Filter'
            =text_field_tag :search, nil, :class => "input-small", tabindex: 1

    = render 'accounts_table', accounts: @accounts, company: @company, summary: @company ? true : false

=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.accounts',
      containerClass: '#details tbody',
      targetClass: '#details tbody tr'
    )
    $('.filter.filter-active').click()
