
.row
  %h1.bottom_margin.span5 #{@title}
  .model_actions
    -if @company
      =link_to 'New Account', new_enspiral_company_net_company_enspiral_money_tree_account_path(@company), class: 'btn'
      =link_to 'Transfer Templates', enspiral_company_net_company_enspiral_money_tree_funds_transfer_templates_path(@company), class: 'btn'
    -else
      =link_to 'Personal Accounts', enspiral_money_tree_accounts_path, class: 'btn'
      =link_to 'Public Accounts', [:public, :enspiral_money_tree_accounts], class: 'btn'
      =link_to 'New Account', new_enspiral_money_tree_account_path, class: 'btn'
- if @company
  =link_to 'All', [@company, :enspiral_money_tree_accounts]
  (
  - Enspiral::MoneyTree::Account::CATEGORIES.each do |c|
    =link_to_unless_current "#{c.capitalize}", enspiral_company_net_company_enspiral_money_tree_accounts_path(@company, :category => c)
    = "|" unless c == Enspiral::MoneyTree::Account::CATEGORIES.last
  )
  |
  =link_to_unless_current 'Public', [:public, @company, :enspiral_money_tree_accounts]
  |
  =link_to_unless_current 'Expense', [:expense, @company, :enspiral_money_tree_accounts]

.row
  .accounts.span10
    %nav
      .nav.table_actions
        %ul.nav.nav-tabs
          %li.nav_label
            Find:
          .search_box.navbar-form.pull-left
            =text_field_tag :search, nil, :class => "input-small", tabindex: 1

    = render 'accounts_table', accounts: @accounts, company: @company, summary: @company ? true : false

=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.accounts',
      containerClass: '#details tbody',
      targetClass: '#details tbody tr'
    )
    $('.filter.filter-active').click()
