<p>
  <b>Person:</b>
  <%=h @account.person_id %>
</p>

<p>
  <b>Balance:</b>
  <%=h @account.balance %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>